<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/cmnHead :: main-head"></th:block>
    <style>
        .sh-tb {
            width: 100%;
            background-color: aliceblue;
        }

        .sh-tb tfoot {
            text-align: right
        }

        #inputGroupSelect01 {
            width: auto;
        }

        .form-control mr-sm-2 {
            width: auto;
        }

        .col-lg-12 {
            padding: 0;
        }

        .btn btn-primary {
            float: right;
        }
    </style>
</head>

<body id="top">
<th:block th:replace="fragments/header :: nav-header"></th:block>

<!--Contents-->
<div class="container">
    <div class="prodTitle">
        <h1>상품 조회</h1>
    </div>
    <form name="saveParamForm">
        <input type="hidden" name="productCode" th:value="${searchParams.getProductCode()}">
        <input type="hidden" name="gender" th:value="${searchParams.getGender()}">
        <input type="hidden" name="startDate" th:value="${searchParams.getStartDate()}">
        <input type="hidden" name="endDate" th:value="${searchParams.getEndDate()}">
        <input type="hidden" name="productStatus" th:value="${searchParams.getProductStatus()}">
    </form>
    <form name="searchForm" action="/prod/list" method="get" th:object="${searchParams}">
        <table class="sh-tb">
            <tbody>
            <tr>
                <th>상품 상태</th>
                <td>
                    <input type="radio" id="sr_rd1" name="productStatus" value=""
                           th:checked="${searchParams.getProductStatus() == ''}">
                    <label for="sr_rd1">전체</label>
                    <input type="radio" id="sr_rd2" name="productStatus" value="판매"
                           th:checked="${searchParams.getProductStatus() == '판매'}">
                    <label for="sr_rd2">판매</label>
                    <input type="radio" id="sr_rd3" name="productStatus" value="준비"
                           th:checked="${searchParams.getProductStatus() == '준비'}">
                    <label for="sr_rd3">준비</label>
                    <input type="radio" id="sr_rd4" name="productStatus" value="품절"
                           th:checked="${searchParams.getProductStatus() == '품절'}">
                    <label for="sr_rd3">품절</label>
                    <input type="radio" id="sr_rd5" name="productStatus" value="중단"
                           th:checked="${searchParams.getProductStatus() == '중단'}">
                    <label for="sr_rd3">중단</label>
                </td>
                <td colspan="2">
                    <a class="btn btn-primary" id="enrollment" role="button">상품 등록</a>
                </td>
            </tr>
            <tr>
                <th>성별</th>
                <td>
                    <input type="radio" id="gn_rd0" name="gender" value="" th:checked="${searchParams.getGender() == ''}">
                    <label for="gn_rd0">전체</label>
                    <input type="radio" id="gn_rd1" name="gender" value="C" th:checked="${searchParams.getGender() == 'C'}">
                    <label for="gn_rd1">공용(C)</label>
                    <input type="radio" id="gn_rd2" name="gender" value="W" th:checked="${searchParams.getGender() == 'M'}">
                    <label for="gn_rd2">남성(M)</label>
                    <input type="radio" id="gn_rd3" name="gender" value="M" th:checked="${searchParams.getGender() == 'W'}">
                    <label for="gn_rd3">여성(W)</label>
                </td>
                <th>
                    상품 코드
                </th>
                <td>
                    <input id="productCodeInput" type="text" name="productCode" placeholder="Search" th:value="${searchParams.getProductCode()}">
                </td>
            </tr>
            <tr>
                <th>조회 건수</th>
                <td>
                    <input type="radio" id="ps_rd1" name="pageSize" value="10" th:checked="${searchParams.getPageSize() == 10}">
                    <label for="ps_rd1">10</label>
                    <input type="radio" id="ps_rd2" name="pageSize" value="20" th:checked="${searchParams.getPageSize() == 20}">
                    <label for="ps_rd2">20</label>
                    <input type="radio" id="ps_rd3" name="pageSize" value="30" th:checked="${searchParams.getPageSize() == 30}">
                    <label for="ps_rd3">30</label>
                </td>
                <th>
                    입고 날짜
                </th>
                <td>
                    <input id="dateInput" class="dateInput" type="date" name="startDate" th:value="${searchParams.getStartDate()}"> ~
                    <input id="dateInput2" class="dateInput" type="date" name="endDate" th:value="${searchParams.getEndDate()}">
                    <button type="submit" style="float: right;" class="btn btn-success">Search</button>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- ./ navbar -->
    </form>
    <div class="col-lg-12">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">상품코드</th>
                <th scope="col">성별</th>
                <th scope="col">제조공장</th>
                <th scope="col">단가</th>
                <th scope="col">마지막수정일</th>
                <th scope="col">제조코드</th>
                <th scope="col">상품상태</th>
                <th scope="col">수정</th>
                <th scope="col">발주넣기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${productTitles == null}">
                <td colspan="9">
                    검색결과에 맞는 데이터가 없습니다
                </td>
            </tr>
            <tr th:each="title : ${productTitles}" name="each_data_tbody" th:data="${title.getProduct_code()}">
                <td th:text="${title.getProduct_code()}">code</td>
                <td th:text="${title.getGender()}">gender</td>
                <td th:text="${title.getMake_factory()}">factory</td>
                <td th:text="${title.getUnit_price()}">price</td>
                <td th:text="${title.getFinal_update()}">update</td>
                <td th:text="${title.getMake_code()}">make_code</td>

                <td>
                    <select class="custom-select" name="status">
                        <option value="판매" th:selected="${title.getProduct_status() == '판매'}">판매</option>
                        <option value="품절" th:selected="${title.getProduct_status() == '품절'}">품절</option>
                        <option value="중단" th:selected="${title.getProduct_status() == '중단'}">중단</option>
                        <option value="준비" th:selected="${title.getProduct_status() == '준비'}">준비</option>
                    </select>
                </td>
                <td><a class="btn btn-primary" th:href="@{/prod/modify(prodcutCodegg=${title.getProduct_code()})}"
                       role="button">수정하기</a></td>
                <td><a class="btn btn-primary" th:href="@{/req/add(productCode=${title.getProduct_code()})}"
                       role="button">발주넣기</a></td>
            </tr>
            </tbody>
        </table>

        <!-- Paging -->
        <nav aria-label="Page navigation example ml-auto">
            <ul class="pagination" th:if="${paging != null}">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" th:disabled="${paging.getPageNo() == paging.getStartPageNo()}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only" th:text="${paging.getPrevPageNo()}"></span>
                    </a>
                </li><!-- ${#numbers.sequence(paging.getStartPageNo(), paging.getEndPageNo())} -->
                <li class="page-item" th:each="num : ${#numbers.sequence(1, 5)}" th:classappend="${num == paging.getPageNo()} ? 'active' : ''">
                    <a class="page-link" href="#">
                        <span aria-hidden="true" th:text="${num}"></span>
                        <span class="sr-only" th:text="${num}"></span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" th:disabled="${paging.getPageNo() == paging.getFinalPageNo()}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only" th:text="${paging.getNextPageNo()}"></span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End of Paging -->
    </div>
</div>
</div>

<!--ajax파일 참조하는 문장-->
<script th:src="@{/resources/js/prod_js/main.js}"></script>
<script>

    let add_popup = function (e) {
        if (e.target.tagName === 'INPUT') return;
        let action = 'add';
        let popupWidth = 300;
        let popupHeight = 400;
        let popupX = (window.screen.width / 2) - (popupWidth / 2);
        let popupY = (window.screen.height / 2) - (popupHeight / 2);
        window.open(action, 'add', 'width=' + popupWidth + ', height=' + popupHeight + ', left=' + popupX + ', , top=' + popupY + 'scrollbars=yes, resizable=no');
    }

    $('#enrollment').click(add_popup);


    // 1. Paging javascript 방식
    let pagingFunc = function(){
        let pageNo = this.querySelector('.sr-only').innerText;
        // console.log(pageNo);
        let obj = document.querySelector('form[name=saveParamForm]');
        obj.pageNo.value = pageNo;
        // console.log(obj);
        obj.method = 'get';
        obj.action = 'list';
        obj.submit();
    }

    document.querySelectorAll('.pagination > .page-item').forEach(
        (e) => e.addEventListener('click', pagingFunc)
    );
</script>

</body>
</html>