<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/cmnHead :: main-head"></th:block>
    <style>
        table[name=detail_table] thead {
            background-color: cornsilk;
        }
    </style>
</head>
<body>
<!-- Contents -->
<div class="container">
    <div class="row">
        <!-- row 1 -->
        <div class="alert alert-warning alert-dismissible fade w-100" id="alert" role="alert">
            <p id="alt-c"><small></small></p>
            <button type="button" class="close" onclick="javascript:$('#alert').removeClass('show');">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col-lg-12">
            <p class="text-muted">
                상품 등록
                <button class="btn btn-primary float-right" type="button" id="prodAdd" >등록하기</button>
            </p>
            <form name="titleForm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">코드</span>
                    </div>
                    <input type="hidden" name="productCode" value="">
                    <input type="text" class="form-control" id="ip_prod_cd" maxlength="10" placeholder="SHY001" aria-describedby="overlapCheck" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="overlapCheck" type="button">중복검사</button>
                    </div>
                    <div class="valid-feedback">중복검사 완료</div>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">성별</span>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary btn-toggle active">
                            <input type="radio" name="gender" value="C" checked> 공용
                        </label>
                        <label class="btn btn-outline-primary btn-toggle">
                            <input type="radio" name="gender" value="M"> 남자
                        </label>
                        <label class="btn btn-outline-primary btn-toggle">
                            <input type="radio" name="gender" value="W"> 여자
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <!-- ./ .col-lg-12 -->
        <div class="col-lg-12">
            <table name="detail_table">
                <thead>
                <tr>
                    <th scope="col">
                        컬러
                        <div class="text-danger" name="color_valid"></div>
                    </th>
                    <th><input class="btn btn-success" type="button" value="(+)추가" id="addButton" onclick="addDetail()"></th>
                </tr>
                </thead>
                <tbody id="detail_tbody">
                <tr><td><input class="form-control" name="colorName" type="text"></td></tr>
                </tbody>
            </table>
        </div>
        <!-- ./ col-lg-12 -->
    </div>
    <!-- ./ .row -->

</div>
<script th:src="@{/resources/js/prod/prod_add.js}"></script>
</body>
</html>