<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/cmnHead :: main-head"></th:block>
    <style>
        .caption_table th {
            background-color: cornsilk;
        }
    </style>
</head>
<body>
<!-- Contents -->
<div class="container">
    <div class="row">
        <!-- row 1 -->
        <!--<div class="alert alert-warning alert-dismissible fade w-100 h-0" id="alert" role="alert">
            <p id="alt-c"><small></small></p>
            <button type="button" class="close" onclick="javascript:$('#alert').removeClass('show');">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>-->

        <div class="col-lg-12">
            <table class="caption_table w-100">
                <tr>
                    <th th:text="|상품코드 ${product_code}|" colspan="2"></th>
                    <td>
                        <input class="btn btn-primary float-right" type="button" id="prodMod" value="완료">
                    </td>
                </tr>
            </table>
            <table id="product_detail_table" th:data="${product_code}" class="w-100">
                <thead id="detail_thead">
                    <tr>
                        <th scope="col">OLD</th>
                        <th scope="col">NEW</th>
                    </tr>
                    <tr th:if="${details == null}">
                        <th>색이 없습니다. 추가하세요.</th>
                    </tr>
                    <tr th:each="detail : ${details}">
                        <td>
                            <input class="form-control" type="text" name="old_color_name" th:value="${detail.getColor_name()}" readonly>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="update_color_name" th:placeholder="${detail.getColor_name()}">
                        </td>
                    </tr>
                </thead>
                <tbody id="detail_tbody">
                    <tr>
                        <td scope="col">(+)NEW COLOR</td>
                        <td>
                            <input class="btn btn-success" type="button" value="(+)추가" id="addButton" onclick="addDetail()">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ./ col-lg-12 -->
    </div>
    <!-- ./ .row -->
</div>

<script>

</script>


<script th:src="@{/resources/js/prod/prod_mod.js}"></script>

</body>
</html>