<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/cmnHead :: main-head"></th:block>
</head>
<body>
<th:block th:replace="fragments/header :: nav-header"></th:block>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-5">
            <form class="form-signin" onsubmit="return false;">
                <h2 class="form-signin-heading">Press Password</h2>
                <label>기존 비밀번호</label>
                <input type="password" name="pwd" class="form-control" placeholder="Password" required>
                <label>새 비밀번호</label>
                <input type="password" name="newPwd" class="form-control" placeholder="Password" required>
                <label>비밀번호 확인</label>
                <input type="password" name="pwd_check" class="form-control" placeholder="Password" required>
                <p name="pwd_chk_caption"></p>
                <button class="btn btn-lg btn-primary btn-block" id="submit_btn" type="button">Update</button>
            </form>
        </div>
    </div>
</div>

<script>

    $('#submit_btn').click(function() {
        let data = $(this).closest('form').serializeObject();
        console.log(data);
        $.ajax({
            type: "put",
            url: "/changePass",
            data : data,
            dataType: "json",
            success: function(xml) {
                if (xml.code == 200) {
                    console.log('success');
                    alert('비밀번호 변경 완료');
                } else {
                    console.log(xml.code + ':: error');
                    alert('변경 실패. 잠시 후 다시시도하셈');
                }
            },
            error: function(request, status, error) {
                console.log("code:" + status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                alert('콘솔보셈');
            }
        });
    });
</script>
</body>
</html>