<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/cmnHead :: main-head"></th:block>
</head>

<body>
<!-- Contents -->
<div class="wrap">
	<div class="row">
		<div class="col-lg-12 col-md-12 pd-0">
			<table class="table" id="request_detail_table">
				<thead class="thead-dark">
				<tr>
					<th scope="col">컬러</th>
					<th scope="col">s</th>
					<th scope="col">m</th>
					<th scope="col">l</th>
					<th scope="col">xl</th>
					<th scope="col">free</th>
					<th scope="col">total</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="column : ${detail}">
					<td th:text="${column.color_name}"></td>
					<td th:text="${column.s}"></td>
					<td th:text="${column.m}"></td>
					<td th:text="${column.l}"></td>
					<td th:text="${column.xl}"></td>
					<td th:text="${column.f}"></td>
					<td th:text="${column.total}"></td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- ./ col-lg-8 -->
	</div>
	<!-- ./ .row -->
</div>
<!-- ./container -->
</body>
</html>