<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/cmnHead :: main-head"></th:block>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-5">
            <form class="form-signin" action="loginCheck" method="get" id="loginForm" onsubmit="return false;">
                <h2 class="form-signin-heading">Press Password</h2>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="pwd" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" id="submit_btn" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/resources/js/log.js}"/>
</body>
</html>