<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
        <title>부트스트랩 101 템플릿</title>

        <!-- 부트스트랩 -->
        <link th:href="@{/bootstrap-3.3.2/css/bootstrap.css}" rel="stylesheet">

        <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
        <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
        <!-- [if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif] -->
    </head>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">col-4</div>
            <div class="col-lg-4">
                <form class="form-signin" action="loginCheck.do" method="get" id="frm" onsubmit="return passCheck(this)">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" name="pwd" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
            <div class="col-lg-4">col-4</div>
        </div>
    </div>

    <script>
        function passCheck(frm) {
            var xhr = new XMLHttpRequest();
            /* 준비상태가 변하면 실행한다. */
            xhr.onreadystatechange = function () {
                if (xhr.readyState === xhr.DONE) {
                    /* 상태가 200, 201 이면 서버 통신 성공 */
                    if (xhr.status === 200 || xhr.status === 201) {
                        var jobj = JSON.parse(xhr.responseText);
                        if (jobj.code == 200) {
                            location.href = "main.do";
                        } else {
                            alert('비밀번호 잘못입력');
                            frm.pwd.value = '';/* 틀린 비밀번호 지워주기 */
                        }
                    } else {
                        /* 서버통신 실패 */
                        console.error(xhr.responseText);
                    }
                }
            };
            /* 메소드에 따라 다른방식의 접근을 해줘야한다. */
            if (frm.method == 'get') {
                xhr.open(frm.method, frm.action + toparamJson(serializeParam(frm)), false);
                xhr.send();
            } else {
                xhr.open(frm.method, frm.action, false);
                xhr.send(new FormData(frm));
            }
            return false;
        }
    </script>
    <script th:src="@{/js/utils.js}"></script>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script th:src="@{/bootstrap-3.3.2/js/bootstrap.js}"></script>
</body>
</html>
