<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/cmnHead :: main-head"></th:block>
	<!--
<style>
#request_title_table {
	width: 240px;
	display: inline-block;
	float: left;
}

#request_title_table input {
	width: 100px;
}

#request_title_table #file {
	width: 200px;
}

#request_title_table #manufacturing_date {
	width: 120px;
}

#request_detail_table {
	display: inline-table;
	width: 300px;
	/* float: right; */
}

#request_detail_table input {
	width: 30px;
}
</style>-->
	<style>
		#request_detail_tbody input {
			width: 70px;
		}
		#request_detail_table thead {
			background-color: cornsilk;
		}
		.wrap{
			padding : 0 50px 0 50px;
		}
	</style>
</head>

<body>
<th:block th:replace="fragments/header :: nav-header"></th:block>

<!-- Contents -->
<div class="wrap">
	<div class="row">
		<!-- row 1 -->
		<div class="col-lg-4 col-md-12">
			<p class="text-muted">
				발주 등록
			</p>
			<form name="titleForm">
				<table>
					<tr>
						<th>발주 코드</th>
						<td>
							<div class="input-group mb-3">
								<input type="text" class="form-control" name="request_code" id="request_code" placeholder="Click to Button" aria-label="Recipient's username" aria-describedby="button-addon2" readonly>
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" name="makeReqCode" type="button" id="button-addon2">코드 생성</button>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>상품 코드</th>
						<td>
							<select class="custom-select" name="product_code">
								<option th:each="code : ${list}" th:text="${code}" th:value="${code}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<th>발주 상태</th>
						<td>
							<select class="custom-select" name="request_status">
								<option value="신청">신청</option>
								<option value="대기">대기</option>
								<option value="승인">승인</option>
								<option value="취소">취소</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>단가</th>
						<td>
							<div class="input-group mb-3">
								<input type="number" name="unit_price" value="0" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon2">원</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>공장 이름</th>
						<td>
							<input class="form-control" type="text" name="factory_name" placeholder="제조사 명 입력">
						</td>
					</tr>
					<tr>
						<th>제조일</th>
						<td>
							<input class="form-control" type="date" name="manufacturing_date">
						</td>
					</tr>
					<tr>
						<th>파일</th>
						<td>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
								</div>
								<div class="custom-file">
									<input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>비고</th>
						<td>
							<textarea class="form-control" name="etc" rows="3"></textarea>
							<!--<input class="form-control" type="text" name="etc">-->
						</td>
					</tr>
				</table>
			</form>
		</div>
		<!-- ./ .col-lg-4 -->
		<div class="col-lg-8 col-md-12">
			<input type="button" id="reqAdd" value="발주 등록">
			<br>
			<table class="" id="request_detail_table">
				<thead class="">
				<tr>
					<th scope="col">성별</th>
					<th scope="col">컬러</th>
					<th scope="col">s</th>
					<th scope="col">m</th>
					<th scope="col">l</th>
					<th scope="col">xl</th>
					<th scope="col">free</th>
					<th scope="col">total</th>
					<th><input type="button" value="(+)추가하기" id="addButton" onclick="addDetail()"></th>
				</tr>
				</thead>
				<tbody id="request_detail_tbody">
				<tr>
					<td>
						<select name="gender" class="custom-select">
							<option value="C">공용</option>
							<option value="W">여자</option>
							<option value="M">남자</option>
						</select>
					</td>
					<td><input class="form-control" type="text" name="color_name"></td>
					<td><input class="form-control" type="number" name="s"></td>
					<td><input class="form-control" type="number" name="m"></td>
					<td><input class="form-control" type="number" name="l"></td>
					<td><input class="form-control" type="number" name="xl"></td>
					<td><input class="form-control" type="number" name="free"></td>
					<td><input class="form-control" type="text" name="total" value="0" readonly></td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- ./ col-lg-8 -->
	</div>
	<!-- ./ .row -->
</div>
<!-- ./container -->
	<script th:src="@{/js/req_js/add.js}"></script>
	<!-- 버튼 클릭 시 detail 테이블 열 추가 -->
	<script>
		// type=number 인놈만 사용할 함수
		let numberSet = function (){
			// 만약 비어있으면 0을 넣어준다.
			if($(this).val() === '') $(this).val(0);
			// 아니면 문자를 int 로 바꿔서 넣어줄거다. 문자 ->  숫자
			else $(this).val(parseInt($(this).val()));
		}
		// 이 페이지를 읽고나면 key event 에 numberSet 함수를 적용하고 type=number 에 0을 넣을것이다.
		$('input[type=number]').keyup(numberSet).keydown(numberSet).keypress(numberSet).val(0);
		// 변경이 일어난 개체와 동일한 row 의 input tag 의 숫자를 모두 더하여 total 에 넣는 식
		let func_total_sum = function (){
			// 현 위치에서 가장 가까운 tr을 찾음 현 위치는 tbody > tr > td > input 이다.
			let tr = $(this).closest('tr');
			// tr 안에 있는 type = number 를 모조리 찾는다.
			let number = tr.find('input[type=number]');
			// 저장변수
			let total = 0;
			// number.each()랑 같다.
			for(let i=0; i<number.length; i++)
				// type=number 개수만큼 반복돌려 값을 다 더해 total 에 넣는다.
				total += parseInt(number[i].value);
			// total 을 찾아서 값을 넣어준다.
			$(tr).find('input[name=total]').val(total);
		}

		// #request_detail_tbody 하위에 input[type=number]인 요소에 key event 모두 적용.
		$('#request_detail_tbody input[type=number]').keyup(func_total_sum).keypress(func_total_sum).keydown(func_total_sum);

		let request_detail_tbody = document.getElementById("request_detail_tbody");
		let rowName = ['color_name', 's', 'm', 'l', 'xl', 'free', 'total'];
		let rowType = ['text', 'number', 'number', 'number', 'number', 'number', 'text'];

		function addDetail() {
			let row = request_detail_tbody.insertRow();

			//성별 
			row.insertCell(0).innerHTML += '<select class="custom-select" name="gender">'
					+ '<option value="C">공용</option>'
					+ '<option value="W">여자</option>'
					+ '<option value="M">남자</option>' + '</select>';
			//색상
			//사이즈(s~free), 총 수량
			for (let i = 0; i < rowName.length; i++) {
				row.insertCell(i+1).innerHTML += '<input class="form-control" type="'+rowType[i]+'" name="' + rowName[i] + '">';
			}
			row.insertCell().innerHTML += '<input type="button" value="-" id="delButton" onclick="delDetail(this)">';
			$(row).find('input[name=total]').attr('readonly', 'readonly').val(0);
			$(row).find('input[type=number]').keyup(func_total_sum).keypress(func_total_sum).keydown(func_total_sum).val(0);
			$(row).find('input[type=number]').keyup(numberSet).keydown(numberSet).keypress(numberSet).val(0);
		}
		// 해당 행 삭제 버튼
		function delDetail(row) {
			let tr = row.parentNode.parentNode;
			tr.parentNode.removeChild(tr);
		}
	</script>

</body>
</html>


<!-- 
    지금 해야할 것.
    1. 발주코드 함수 불러와서 사용하기 => ajax를 통해서 발주등록 페이지 활성화 시 input안에 value 삽입
    2. 사용자가 입력한 영어를 대문자로 바꾸어주기 => upperCase 하면 될걸?
    3. 사이즈추가 버튼 활성화 -> 함수 만들기 => js
    4. 수량을 입력하면 총 수량에 합계 합산
    5. 단가 입력 시 수량*단가 = 총 금액 input 에 값 넣어주기

 -->