<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/cmnHead :: main-head"></th:block>
	<style>
		#detail_tbody input {
			width: 70px;
		}
		#detail_table thead {
			background-color: cornsilk;
		}
		.wrap{
			padding:0 50px 0 50px;
		}
	</style>
</head>

<body>
<th:block th:replace="fragments/header :: nav-header"></th:block>

<!-- Contents -->
<div class="wrap">
	<div class="row">
		<!-- row 1 -->
		<div class="col-lg-4 col-md-12">
			<p class="text-muted">발주 등록</p>
			<form name="titleForm">
				<table>
					<tr>
						<th>발주 코드</th>
						<td>
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="request_code" name="request_code" placeholder="Click to Button" readonly>
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button" id="makeReqCode">코드 생성</button>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>상품 코드</th>
						<td>
							<select class="custom-select" id="product_code" name="product_code">
								<option value="">선택하기</option>
								<option th:each="item : ${list}"
										th:text="${item.product_code}"
										th:value="${item.product_code}"
										th:data="${item.gender}"
										th:selected="${prod != null} and ${prod.product_code == code}">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>성별 코드</th>
						<td>
							<input type="text" class="form-control" id="gender" name="gender" th:value="${prod != null ? prod.gender : ''}" readonly>
						</td>
					</tr>
					<tr>
						<th>발주 상태</th>
						<td>
							<input type="radio" id="st_rd1" name="request_status" value="신청" checked>
							<label for="st_rd1">신청</label>
							<input type="radio" id="st_rd2" name="request_status" value="대기">
							<label for="st_rd2">대기</label>
							<input type="radio" id="st_rd3" name="request_status" value="확정">
							<label for="st_rd3">확정</label>
						</td>
					</tr>
					<tr>
						<th>단가</th>
						<td>
							<div class="input-group mb-3">
								<input type="number" name="unit_price" value="0" class="form-control" th:value="${prod != null ? prod.unit_price : ''}">
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon2">원</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>공장 이름</th>
						<td>
							<input class="form-control" type="text" name="make_factory" placeholder="제조사 명 입력" th:value="${prod != null ? prod.make_factory : ''}">
						</td>
					</tr>
					<!--<tr>
						<th>제조일</th>
						<td>
							<input class="form-control" type="date" name="manufacture_day">
							<input name="file" value="" type="hidden"> &lt;!&ndash; 파일 업로드 구현시 삭제 &ndash;&gt;
						</td>
					</tr>
					<tr>
						<th>파일</th>
						<td>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
								</div>
								<div class="custom-file">
									<input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
								</div>
							</div>
						</td>
					</tr>-->
					<tr>
						<th>비고</th>
						<td>
							<textarea class="form-control" name="etc" rows="3"></textarea>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<!-- ./ .col-lg-4 -->
		<div class="col-lg-8 col-md-12">
			<input type="button" id="reqAdd" value="발주 등록">
			<br>
			<table class="detail_table">
				<thead class="">
				<tr>
					<th scope="col">컬러</th>
					<th scope="col">s</th>
					<th scope="col">m</th>
					<th scope="col">l</th>
					<th scope="col">xl</th>
					<th scope="col">free</th>
					<th scope="col">total</th>
				</tr>
				</thead>
				<tbody id="detail_tbody">
				</tbody>
			</table>
		</div>
		<!-- ./ col-lg-8 -->
	</div>
	<!-- ./ .row -->
</div>
<!-- ./container -->
	<script th:src="@{/resources/js/req/req_utils.js}"></script>
	<script th:src="@{/resources/js/req/req_add.js}"></script>
</body>
</html>