<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/cmnHead :: main-head"></th:block>
    <style>
        .sh-tb{
            width: 100%;
            background-color: aliceblue;
        }
        .sh-tb tfoot{ text-align: right}
    </style>
</head>
<body id="top">
<th:block th:replace="fragments/header :: nav-header"></th:block>

<!-- Contents -->
<div class="container">
    <div>
        <h1 class="d-inline">발주 조회</h1>
        <button class="float-right btn btn-outline-primary" type="button" onclick="prevAdd()">등록</button>
    </div>
    <form name="saveParamForm">
        <input type="hidden" th:each="entry : ${map}" th:name="${entry.key}" th:value="${entry.value}">
    </form>
    <div class="row">
        <div class="col-lg-12">
            <form name="searchForm" action="list" method="get">
                <table class="sh-tb">
                    <tbody>
                    <tr>
                        <th>발주 상태</th>
                        <td>
                            <input type="radio" id="sr_rd1" name="request_status" value="" th:checked="${map.request_status} == ''">
                            <label for="sr_rd1">전체</label>
                            <input type="radio" id="sr_rd2" name="request_status" value="신청" th:checked="${map.request_status} == '신청'">
                            <label for="sr_rd2">신청</label>
                            <input type="radio" id="sr_rd3" name="request_status" value="대기" th:checked="${map.request_status} == '대기'">
                            <label for="sr_rd3">대기</label>
                            <input type="radio" id="sr_rd4" name="request_status" value="확정" th:checked="${map.request_status} == '확정'">
                            <label for="sr_rd4">확정</label>
                            <input type="radio" id="sr_rd5" name="request_status" value="취소" th:checked="${map.request_status} == '취소'">
                            <label for="sr_rd5">취소</label>
                            <input type="radio" id="sr_rd6" name="request_status" value="입고" th:checked="${map.request_status} == '입고'">
                            <label for="sr_rd6">입고</label>
                        </td>
                        <th>검색 기간</th>
                        <td>
                            <input type="date" name="start_date" th:value="${map.start_date}">~
                            <input type="date" name="end_date" th:value="${map.end_date}">
                        </td>
                    </tr>
                    <tr>
                        <th>성별</th>
                        <td>
                            <input type="radio" id="gn_rd0" name="gender" value="" th:checked="${map.gender} == ''">
                            <label for="gn_rd0">전체</label>
                            <input type="radio" id="gn_rd1" name="gender" value="C" th:checked="${map.gender} == 'C'">
                            <label for="gn_rd1">공용(C)</label>
                            <input type="radio" id="gn_rd2" name="gender" value="W" th:checked="${map.gender} == 'M'">
                            <label for="gn_rd2">남성(M)</label>
                            <input type="radio" id="gn_rd3" name="gender" value="M" th:checked="${map.gender} == 'W'">
                            <label for="gn_rd3">여성(W)</label>
                        </td>
                        <th>발주 코드</th>
                        <td><input type="text" name="request_code" th:value="${map.request_code}"></td>
                    </tr>
                    <!--            <input type="text" name="product_code" th:value="${map.request_code}">-->
                    <tr>
                        <th>조회 건수</th>
                        <td>
                            <input type="radio" id="ps_rd1" name="pageSize" value="10" th:checked="${map.pageSize} == '10'">
                            <label for="ps_rd1">10</label>
                            <input type="radio" id="ps_rd2" name="pageSize" value="20" th:checked="${map.pageSize} == '20'">
                            <label for="ps_rd2">20</label>
                            <input type="radio" id="ps_rd3" name="pageSize" value="30" th:checked="${map.pageSize} == '30'">
                            <label for="ps_rd3">30</label>
                        </td>
                        <th>상품 코드</th>
                        <td>
                            <input type="text" name="product_code" th:value="${map.product_code}">
                            <button type="submit" style="float: right;" class="btn btn-success">Search</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- ./ navbar -->
            </form>
        </div>
        <!-- End of Row 1 -->
        <!-- Row 2 -->
        <div class="col-lg-12">
            <!-- Table -->
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">발주 코드</th>
                    <th scope="col">상품 코드</th>
                    <th scope="col">성별</th>
                    <th scope="col">요청일</th>
                    <th scope="col">제조사</th>
                    <th scope="col">단가</th>
                    <th scope="col">입고일</th>
                    <th scope="col">제조일</th>
                    <th scope="col">주문량</th>
                    <th scope="col">상태</th>
                    <th scope="col">수정하기</th>
                </tr>
                </thead>
                <tbody>
                <tr name="none_data_tbody" th:if="${list == null}">
                    <td colspan="9">검색된 내용이 없습니다.</td>
                </tr>
                <tr name="each_data_tbody" th:each="row : ${list}" th:data="${row.request_code}" title="Click Me Then Show Detail">
                    <td th:text="${row.request_code}"></td>
                    <td th:text="${row.product_code}"></td>
                    <td th:text="${row.gender}"></td>
                    <td th:text="${row.request_date}"></td>
                    <td th:text="${row.make_factory}"></td>
                    <td th:text="${row.unit_price}"></td>
                    <td th:text="${row.get_date}"></td>
                    <td th:text="${row.manufature_day}"></td>
                    <td th:text="${row.total_order_quantity}"></td>
                    <td>
                        <select class="custom-select" name="status" th:disabled="${row.request_status == '입고' || row.request_status == '취소'}">
                            <option value="신청" th:selected="${row.request_status}=='신청'">신청</option>
                            <option value="대기" th:selected="${row.request_status}=='대기'">대기</option>
                            <option value="확정" th:selected="${row.request_status}=='확정'">확정</option>
                            <option value="취소" th:selected="${row.request_status}=='취소'">취소</option>
                            <option value="입고" th:selected="${row.request_status}=='입고'">입고</option>
                        </select>
                    </td>
                    <td> <input type="button" value="이름이쁘노" name="reqModButton"> </td>
                </tr>
                </tbody>
            </table>
            <!--<p th:text="${paging}"></p>-->
            <!-- End of Table -->

            <!-- Paging -->
            <nav aria-label="Page navigation example ml-auto">
                <ul class="pagination" th:if="${paging != null}">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" th:disabled="${paging.getPageNo() == paging.getStartPageNo()}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only" th:text="${paging.getPrevPageNo()}"></span>
                        </a>
                    </li><!-- ${#numbers.sequence(paging.getStartPageNo(), paging.getEndPageNo())} -->
                    <li class="page-item" th:each="num : ${#numbers.sequence(1, 5)}" th:classappend="${num} == 1 ? 'active' : ''">
                        <a class="page-link" href="#">
                            <span aria-hidden="true" th:text="${num}"></span>
                            <span class="sr-only" th:text="${num}"></span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" th:disabled="${paging.getPageNo() == paging.getFinalPageNo()}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only" th:text="${paging.getNextPageNo()}"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Paging -->
        </div>
        <!-- End of Row 2 -->
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->
<script th:src="@{/resources/js/request.js}"></script>
</body>
</html>