<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/cmnHead :: main-head"></th:block>
	<style>
		#request_detail_tbody input {
			width: 70px;
		}
		#request_detail_table thead {
			background-color: cornsilk;
		}
		.wrap{
			padding:0 50px 0 50px;
		}
	</style>
</head>

<body>
<th:block th:replace="fragments/header :: nav-header"></th:block>
<!-- Contents -->
<div class="wrap">
	<div class="row">
		<!-- row 1 -->
		<div class="col-lg-4 col-md-12">
			<p class="text-muted">
				발주 수정
			</p>
			<form name="titleForm">
				<table>
					<tr>
						<th>발주 코드</th>
						<td>
							<div class="input-group mb-3">
								<input type="text" th:value="${title.request_code}" class="form-control" name="request_code" id="request_code" readonly>
							</div>
						</td>
					</tr>
                    <tr>
						<th>상품 코드</th>
						<td>
							<select class="custom-select" id="product_code" name="product_code">
								<option value="">선택하기</option>
								<option th:each="item : ${list}"
										th:text="${item.product_code}"
										th:value="${item.product_code}"
										th:data="${item.gender}"
										th:selected="${title.product_code} == ${item.product_code}">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>성별 코드</th>
						<td>
							<input type="text" class="form-control" id="gender" name="gender" th:value="${title.gender}" readonly>
						</td>
					</tr>
					<tr>
						<th>단가</th>
						<td>
							<div class="input-group mb-3">
								<input type="number" name="unit_price" th:value="${title.unit_price}" class="form-control">
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon2">원</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>공장 이름</th>
						<td>
							<input class="form-control" type="text" th:value="${title.make_factory}" name="make_factory" placeholder="제조사 명 입력">
						</td>
					</tr>
					<tr>
						<th>제조일</th>
						<td>
							<input class="form-control" type="date" th:value="${title.manufacture_day}"  name="manufacture_day">
							<input name="file" value="" type="hidden"> <!-- 파일 업로드 구현시 삭제 -->
						</td>
					</tr>
					<!--
					<tr>
						<th>파일</th>
						<td>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
								</div>
								<div class="custom-file">
									<input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
								</div>
							</div>
						</td>
					</tr>
					-->
					<tr>
						<th>비고</th>
						<td>
							<textarea class="form-control" th:text="${title.etc}" name="etc" rows="3"></textarea>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<!-- ./ .col-lg-4 -->
		<div class="col-lg-8 col-md-12">
			<input type="button" id="reqMod" value="발주 수정">
			<br>
			<table class="" id="request_detail_table">
				<thead class="">
				<tr>
					<th scope="col">컬러</th>
					<th scope="col">s</th>
					<th scope="col">m</th>
					<th scope="col">l</th>
					<th scope="col">xl</th>
					<th scope="col">free</th>
					<th scope="col">total</th>
				</tr>
				</thead>
				<tbody id="detail_tbody">
				<tr th:each="detail:${details}">
					<td>
						<label class="form-control mb-0" th:text="${detail.color_name}"></label>
						<input type="hidden" name="color_name" th:value="${detail.color_name}">
					</td>
					<td><input class="form-control" type="number" th:value="${detail.s}" name="s"></td>
					<td><input class="form-control" type="number" th:value="${detail.m}" name="m"></td>
					<td><input class="form-control" type="number" th:value="${detail.l}" name="l"></td>
					<td><input class="form-control" type="number" th:value="${detail.xl}" name="xl"></td>
					<td><input class="form-control" type="number" th:value="${detail.f}" name="f"></td>
					<td><input class="form-control" type="text" th:value="${detail.total}" name="total" readonly></td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- ./ col-lg-8 -->
	</div>
	<!-- ./ .row -->
</div>
<!-- ./container -->
	<script th:src="@{/resources/js/req/req_utils.js}"></script>
	<script th:src="@{/resources/js/req/req_mod.js}"></script>
</body>
</html>