<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/cmnHead :: main-head"></th:block>
    <style>
        table.table-hover tbody tr td:hover {
            background-color: #bfbfbf;
        }
        .sh-tb{
            width: 100%;
            background-color: aliceblue;
        }
        .sh-tb tfoot{ text-align: right}
    </style>
</head>
<body id="top">
<th:block th:replace="fragments/header :: nav-header"></th:block>

<!-- Contents -->
<div class="container">
    <div><h1>발주 조회</h1></div>
    <form name="saveParamForm">
        <input type="hidden" th:each="entry : ${map}" th:name="${entry.key}" th:value="${entry.value}">
    </form>
    <form name="searchForm" action="list" method="get">
        <table class="sh-tb">
            <tbody>
            <tr>
                <th>검색 기간</th>
                <td>
                    <input type="date" name="start_date" th:value="${map.start_date}">~
                    <input type="date" name="end_date" th:value="${map.end_date}">
                </td>
                <th>발주 코드</th>
                <td><input type="text" name="request_code" th:value="${map.request_code}"></td>
            </tr>
                <th>발주 상태</th>
                <td>
                    <input type="radio" id="rd1" name="request_status" value="" th:checked="${map.request_status} == ''">
                    <label for="rd1">전체</label>
                    <input type="radio" id="rd2" name="request_status" value="신청" th:checked="${map.request_status} == '신청'">
                    <label for="rd2">신청</label>
                    <input type="radio" id="rd3" name="request_status" value="대기" th:checked="${map.request_status} == '대기'">
                    <label for="rd3">대기</label>
                    <input type="radio" id="rd4" name="request_status" value="승인" th:checked="${map.request_status} == '승인'">
                    <label for="rd4">승인</label>
                    <input type="radio" id="rd5" name="request_status" value="취소" th:checked="${map.request_status} == '취소'">
                    <label for="rd5">취소</label>
                    <input type="radio" id="rd6" name="request_status" value="수령" th:checked="${map.request_status} == '수령'">
                    <label for="rd6">수령</label>
                </td>
                <th>상품 코드</th>
                <td><input type="text" name="product_code" th:value="${map.request_code}"></td>
            </tr>
            <tr>
                <th>조회 건수</th>
                <td>
                    <input type="radio" id="rd7" name="pageSize" value="10" th:checked="${map.pageSize} == '10'">
                    <label for="rd7">10</label>
                    <input type="radio" id="rd8" name="pageSize" value="20" th:checked="${map.pageSize} == '20'">
                    <label for="rd8">20</label>
                    <input type="radio" id="rd9" name="pageSize" value="30" th:checked="${map.pageSize} == '30'">
                    <label for="rd9">30</label>
                </td>
                <td></td>
                <td><button type="submit" style="float: right;" class="btn btn-success">Search</button></td>
            </tr>
            </tbody>
        </table>
    <!-- ./ navbar -->
    </form>
    <div class="row">
        <!-- End of Row 1 -->
        <!-- Row 2 -->
        <div class="col-lg-12">
            <!-- Table -->
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">발주 코드</th>
                    <th scope="col">상품 코드</th>
                    <th scope="col">요청일</th>
                    <th scope="col">제조사</th>
                    <th scope="col">단가</th>
                    <th scope="col">수령일</th>
                    <th scope="col">제조일</th>
                    <th scope="col">주문량</th>
                    <th scope="col">상태</th>
                </tr>
                </thead>
                <tbody>
                <tr name="request_table" th:if="${list == null}">
                    <td colspan="9">검색된 내용이 없습니다.</td>
                </tr>
                <tr name="request_table" th:each="row : ${list}">
                    <td th:text="${row.request_code}"></td>
                    <td th:text="${row.product_code}"></td>
                    <td th:text="${row.request_date}"></td>
                    <td th:text="${row.factory_name}"></td>
                    <td th:text="${row.unit_price}"></td>
                    <td th:unless="${row.containsKey('get_date')}">-</td>
                    <td th:if="${row.containsKey('get_date')}" th:text="${row.get_date}"></td>
                    <td th:unless="${row.containsKey('manufacturing_date')}">-</td>
                    <td th:if="${row.containsKey('manufacturing_date')}" th:text="${row.manufacturing_date}"></td>
                    <td th:text="${row.total_order_quantity}"></td>
                    <td>
                        <select class="custom-select" name="status" th:disabled="${row.request_status == '수령'}">
                            <option value="신청" th:selected="${row.request_status}=='신청'">신청</option>
                            <option value="대기" th:selected="${row.request_status}=='대기'">대기</option>
                            <option value="승인" th:selected="${row.request_status}=='승인'">승인</option>
                            <option value="취소" th:selected="${row.request_status}=='취소'">취소</option>
                            <option value="수령" th:selected="${row.request_status}=='수령'">수령</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<p th:text="${paging}"></p>-->
            <!-- End of Table -->
            <!-- Paging -->
            <nav aria-label="Page navigation example ml-auto">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" th:disabled="${paging.getPageNo() == paging.getStartPageNo()}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only" th:text="${paging.getPrevPageNo()}"></span>
                        </a>
                    </li><!-- ${#numbers.sequence(paging.getStartPageNo(), paging.getEndPageNo())} -->
                    <li class="page-item" th:each="num : ${#numbers.sequence(1, 5)}" th:classappend="${num} == 1 ? 'active' : ''">
                        <a class="page-link" href="#">
                            <span aria-hidden="true" th:text="${num}"></span>
                            <span class="sr-only" th:text="${num}"></span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" th:disabled="${paging.getPageNo() == paging.getFinalPageNo()}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only" th:text="${paging.getNextPageNo()}"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Paging -->
        </div>
        <!-- End of Row 2 -->
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->
<script th:src="@{/resources/js/req_js/main.js}"></script>
<script>
    /*
    $('.pagination li').click(function (){
        // 1. jQuery 방식
        let $pageNo = $(this).find('.sr-only').text();
        console.log($pageNo);
        let $obj = $('form[name=saveParamForm]');
        $obj.children('input[name=pageNo]').val($pageNo);
        console.log($obj.html());
        $obj.submit();
    });
    */
    let pagingFunc = function(){
        let pageNo = this.querySelector('.sr-only').innerText;
        // console.log(pageNo);
        let obj = document.querySelector('form[name=saveParamForm]');
        obj.pageNo.value = pageNo;
        // console.log(obj);
        obj.method = 'get';
        obj.action = 'list';
        obj.submit();
    }

    document.querySelectorAll('.pagination > .page-item').forEach(function(e, i){
        e.addEventListener('click', pagingFunc);
    });
</script>
</body>
</html>