<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/cmnHead :: main-head"></th:block>
	<style>
		#request_detail_tbody input {
			width: 70px;
		}
		#request_detail_table thead {
			background-color: cornsilk;
		}
		.wrap{
			padding:0 50px 0 50px;
		}
	</style>
</head>

<body>
<th:block th:replace="fragments/header :: nav-header"></th:block>
<!-- Contents -->
<div class="wrap">
	<div class="row">
		<!-- row 1 -->
		<div class="col-lg-4 col-md-12">
			<p class="text-muted">
				발주 수정
			</p>
			<form name="titleForm">
				<table>
					<tr>
						<th>발주 코드</th>
						<td>
							<div class="input-group mb-3">
								<input type="text" th:value="${title.get('request_code')}" class="form-control" name="request_code" aria-label="Recipient's username" aria-describedby="button-addon2" readonly>
							</div>
						</td>
					</tr>
                    <tr>
						<th>상품 코드</th>
						<td>
							<select class="custom-select" name="product_code">
								<option th:each="code:${list}" th:text="${code}" th:value="${code}" th:selected="${title.product_code} == ${code}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<th>상품 성별</th>
						<td>
							<input type="radio" id="gd_rd1" name="gender" value="C" th:checked="${title.gender} == 'C'">
							<label for="gd_rd1">공용</label>
							<input type="radio" id="gd_rd2" name="gender" value="M" th:checked="${title.gender} == 'M'">
							<label for="gd_rd2">남자</label>
							<input type="radio" id="gd_rd3" name="gender" value="W" th:checked="${title.gender} == 'W'">
							<label for="gd_rd3">여자</label>
						</td>
					</tr>
					<tr>
						<th>단가</th>
						<td>
							<div class="input-group mb-3">
								<input type="number" name="unit_price" th:value="${title.get('unit_price')}" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon2">원</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>공장 이름</th>
						<td>
							<input class="form-control" type="text" th:value="${title.get('factory_name')}" name="factory_name" placeholder="제조사 명 입력">
						</td>
					</tr>
					<tr>
						<th>제조일</th>
						<td>
							<input class="form-control" type="date" th:value="${title.get('manufacturing_date')}"  name="manufacturing_date">
							<input name="file" value="" type="hidden"> <!-- 파일 업로드 구현시 삭제 -->
						</td>
					</tr><!--
					<tr>
						<th>파일</th>
						<td>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
								</div>
								<div class="custom-file">
									<input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
									<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
								</div>
							</div>
						</td>
					</tr>-->
					<tr>
						<th>비고</th>
						<td>
							<textarea class="form-control" th:text="${title.etc}" name="etc" rows="3"></textarea>
<!--							<input class="form-control" type="text" name="etc">-->
						</td>
					</tr>
				</table>
			</form>
		</div>
		<!-- ./ .col-lg-4 -->
		<div class="col-lg-8 col-md-12">
			<input type="button" id="reqMod" value="발주 수정">
			<br>
			<table class="" id="request_detail_table">
				<thead class="">
				<tr>
					<th scope="col">컬러</th>
					<th scope="col">s</th>
					<th scope="col">m</th>
					<th scope="col">l</th>
					<th scope="col">xl</th>
					<th scope="col">free</th>
					<th scope="col">total</th>
				</tr>
				</thead>
				<tbody id="request_detail_tbody">
				<tr th:each="detail:${details}">
					<td><input class="form-control" type="text" th:value="${detail.get('color_name')}" name="color_name">
						<input class="form-control" type="hidden" th:value="${detail.get('color_name')}" name="old_color_name"></td>
					<td><input class="form-control" type="number" th:value="${detail.get('s')}" name="s"></td>
					<td><input class="form-control" type="number" th:value="${detail.get('m')}" name="m"></td>
					<td><input class="form-control" type="number" th:value="${detail.get('l')}" name="l"></td>
					<td><input class="form-control" type="number" th:value="${detail.get('xl')}" name="xl"></td>
					<td><input class="form-control" type="number" th:value="${detail.get('free')}" name="free"></td>
					<td><input class="form-control" type="text" th:value="${detail.get('total')}" name="total" readonly></td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- ./ col-lg-8 -->
	</div>
	<!-- ./ .row -->
</div>
<!-- ./container -->
	<script th:src="@{/resources/js/request.js}"></script>

</body>
</html>